@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --color1: #11a9BC;
    --color2: #33BBC7;
    --color3: #84D6D7;
    --color4: black;
    background-color: black;
    color: white;
}

a {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

button {
    border: solid black 1px;
    padding-left: 6px;
    padding-right: 6px;
}
button:hover {
    border-color: rgba(0,0,0,0.5);
}
